{
  "extends": ["@nuxtjs/eslint-config-typescript"],
  "rules": {
    "prefer-template": "error",
    "semi": ["error", "always"],
    "@typescript-eslint/no-explicit-any": "off",
    "no-multiple-empty-lines": [
      "error",
      { "max": 1, "maxBOF": 0, "maxEOF": 0 }
    ],
    "vue/padding-line-between-blocks": ["error", "always"],
    "vue/component-tags-order": [
      "error",
      {
        "order": ["script", "template", "style"]
      }
    ]
  }
}
